.box {
  width: 100px;
  height: 100px;
  border: 40px solid #000;
}

.bg {
  width: 500px;
  height: 100px;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg1 {
  background-color: #d8222b;
}

.bg2 {
  background-color: #540d11;
}

.bg3 {
  background-color: #f0a3a6;
}

.bg4 {
  background-color: #fa000c;
}

.bg5 {
  background-color: #b3484d;
}

.bg6 {
  background-color: #d87422;
}

.bg7 {
  background-color: rgba(216, 34, 43, 0.3);
}

.bg8 {
  background-color: #7d7d7d;
}

.bg9 {
  background-color: #27ddd4;
}

.bg10 {
  background-color: #6c1195;
}