@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  margin: 0 0 1rem 0;
  padding: 0.7rem 0;
  font-size: 3.5rem;
  color: #1359c2;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#mall-events-container {
  padding: 1rem 0;
  text-align: center;
}

.events {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event {
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 1.5rem 3rem;
  border-top-left-radius: 130px;
  border-bottom-right-radius: 130px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.event:nth-of-type(1) {
  align-self: flex-start;
}
.event:nth-of-type(3) {
  align-self: flex-end;
}
.event + .event {
  margin-top: -1.5rem;
}
.event__title {
  color: #1359c2;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.event__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.event__list-item {
  font-size: 20.8px;
}
.event__list-item:not(:last-of-type)::after {
  content: "";
  display: block;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0.3rem 0;
}
.event__cost {
  font-size: 2rem;
  font-weight: 700;
  color: #1359c2;
  margin: 1.5rem 0;
}
.event__cost span {
  font-size: 1.5rem;
  font-weight: 300;
}

.event--accent {
  background: #1359c2;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.6);
  transform: rotate(-10deg);
}
.event--accent .event__title, .event--accent .event__cost {
  color: #fff;
}
.event--accent .event__list {
  color: #aac9f7;
}
.event--accent .event__list-item:after {
  background: #aac9f7;
}
.event--accent .event__cost {
  margin: 3rem 0;
}

.button {
  display: inline-block;
  padding: 1rem 2.5rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.5px;
  transition: all ease-out 200ms;
}
.button:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background: #1359c2;
  transform: scale(1.22);
}
.button--accent {
  background: #fff;
  color: #1359c2;
}